/* HEADER */
header {
  background-color: #C1E7E3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 3%;
}

#header-index {
  background-color: #8FE1D9;
}

#header-logo a {
  display: flex;
  align-items: center;
}

#header-logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

#header-logo span {
  font-size: 1.5rem;
  color:#419ED7;
}

#header-menu ul {
  display: flex;
  gap: 15px;
}

#header-menu ul li {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: .3s;
}

#header-menu ul li a, #btn-logout {
  display: block;
  color: #fff;
  font-size: 1rem;
  padding: 9px 16px;
  transition: .3s;
  background-color: #2f87bd;
  cursor: pointer;
  border: none;
}

#header-menu ul li a:hover, #btn-logout:hover {
  color: #419ED7;
  background-color: #fff;
}

/* INDEX */
main {
  min-height: 100vh;
}


#main-index {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/vaccine-bg.jpg), #829896;
  background-size: cover;
}

#bg-layer {
  background-color: rgba(130, 152, 150, 0.8);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner-index h1 {
  font-size: 3rem;
  color: #2f87bd;
  max-width: 700px;
  text-align: center;
}

#cta-createacc {
  background-color: #419ED7;
  color: #fff;
  font-size: 1.5rem;
  padding: 10px 24px;
  margin-top: 60px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: .3s;
}

#cta-createacc:hover {
  background-color: #FFF;
  color: #419ED7;
}

/* HOME */
#main-home, #main-criar-conta, #main-entrar {
  padding: 15px 4%;
  background: #ADD5D0;
}

#search-container {
  display: flex;
  background-color: #fff;
  margin: 15px auto 45px;
  align-content: center;
}

#input-search {
  width: 100%;
  margin: 6px 8px 6px 4px;
  border: none;
  font-size: 1rem;
  outline: 0;
  font-family: "Averia Libre", "sans-serif";
  color: #3F92C5;
}

#button-search {
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6px 8px;
  transition: .3s;
}

#button-search:hover {
  background-color: #e8e5e5;
}

#button-search img {
  width: 20px;
  height: 20px;
}

#home-card-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.card-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 15px 10px 15px;
  width: 370px;
  height: 370px;
  transition: all 0.3s ease-in-out;
}

.card-item:hover {
  background-color: #e8e5e5;
}

.card-title {
  font-size: 2rem;
  color: #3F92C5;
  text-align: center;
}

.card-dose-info-container {
  background-color: #3F92C5;
  margin: 15px auto 10px;
  width: 100px;
  text-align: center;
  color: #fff;
}

.card-date {
  text-align: center;
  color: #8B8B8B;
  margin-bottom: 15px;
}

.card-img {
  width: 340px;
  height: 191.23px;
}

.card-next-dose-info {
  margin-top: 20px;
  align-self: flex-end;
  color: #FD7979
}

#home-btn-container {
  display: block;
  margin: 50px auto 0 auto;
  text-align: center;
  color: #fff;
  background-color: #37BD6D;
  width: 130px;
  padding: 7px 10px;
  transition: .3s;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#home-btn-container:hover {
  background-color: #FFF;
  color: #37BD6D;
}

/* NOVA VACINA */
#main-nova-vacina {
  padding: 15px 3%;
  background: #ADD5D0;
}

#form-nova-vacina, #form-criar-conta, #form-editar-vacina {
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
  min-height: 54px;
}

/* .form-row label {
  min-width: 130px;
} */

.label-first-lvl {
  text-align: right;
  width: 30%;
}

.input-first-lvl, .input-first-lvl-criar {
  width: 20%;
  font-family: "Averia Libre", "sans-serif";
  color: #3F92C5;
}

.input-first-lvl-field {
  border: none;
  outline: none;
  padding: 5px 8px;
}

.form-comprovante {
  align-items: flex-start;
}

.btn-input {
  background-color: #2f87bd;
  font-family: "Averia Libre", "sans-serif";
  font-size: 1rem;
  padding: 5px 8px;
  color: #fff;
  width: 100%;
  height: 28px;
  cursor: pointer;
}

input[type='file'] {
  display: none;
}

.comprovante-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 10px;
}

.img-comprovante {
  margin: 0 auto;
}

.img-comprovante img {
  width: 340px;
  max-height: 191.23px;
}

#btn-form-vacina {
  background-color: #37BD6D;
  color: #fff;
  border: none;
  width: 180px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 7px 10px;
  cursor: pointer;
  margin: 40px auto 0 auto;
  transition: .3s;
  font-size: 1rem;
}

#btn-form-vacina:hover {
  background-color: #FFF;
  color: #37BD6D;
}

/* EDITAR VACINA */
#btn-remove-vacina-container {
  display:flex;
  justify-content: flex-end;
  margin-top: 20px;
}

#btn-remove-vacina {
  display: flex;
  align-items: center;
  background-color: #FD7979; 
  cursor: pointer;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #FFF;
  font-family: "Averia Libre", "sans-serif";
  font-size: 1rem;
  padding: 5px 8px;
  gap: 8px;
  transition: .3s;
}

#btn-remove-vacina:hover {
  background-color: #fa5151;
}

#btn-remove-vacina img {
  width: 22px;
  height: 22px;
}

/* POPUP */
#remove-vacina-popup-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#remove-vacina-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 25%;
  background-color: #FFF;
  margin: 40vh auto;
  padding: 30px 20px;
  color: #FD7979;
}

#remove-vacina-popup-btns-container {
  display: flex;
  gap: 20px;
}

#btn-remove-vacina-confirm, #btn-remove-vacina-cancel {
  color: #fff;
  border: none;
  width: 130px;
  margin: 40px auto 0 auto;
  padding: 7px 10px;
  font-family: "Averia Libre", "sans-serif";
  font-size: 1.3rem;
  text-transform: uppercase;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  transition: .3s;
}

#btn-remove-vacina-confirm {
  background-color: #FD7979;
}

#btn-remove-vacina-cancel {
  background-color: #3F92C5;
}

#btn-remove-vacina-confirm:hover {
  background-color: #fa5151;
}

#btn-remove-vacina-cancel:hover {
  background-color: #2f87bd;
}

/* CRIAR CONTA */
#main-criar-conta {
  display: flex;
  justify-content: center;
}

#form-criar-conta {
  margin-top: 150px;
  width: 100%;
  gap: 30px;
}

.form-row-criar {
  width: 100%;
  display: flex;
  gap: 30px;
}

.label-first-lvl-criar {
  min-width: 180px;
  text-align: left;
}

.input-first-lvl-criar {
  width: 100%;
}

#btn-form-criar {
  background-color: #37BD6D;
  color: #fff;
  border: none;
  width: 130px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 7px 10px;
  cursor: pointer;
  margin: 40px auto 0 auto;
  transition: .3s;
  font-size: 1rem;
}

#btn-form-criar:hover {
  background-color: #FFF;
  color: #37BD6D;
}

#btn-form-excluir {
  background-color: #37BD6D;
  color: #fff;
  border: none;
  width: 130px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 7px 10px;
  cursor: pointer;
  margin: 40px auto 0 auto;
  transition: .3s;
  font-size: 1rem;
}

#btn-form-excluir:hover {
  background-color: #FFF;
  color: #37BD6D;
}

/* ENTRAR */
.entrar-container, .redefinir-container {
  display: flex;
  justify-content: center;
}

#form-entrar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 600px;
}

.form-row-entrar {
  width: 100%;
}

.label-first-lvl-entrar {
  min-width: 65px;
  color: #fff;
  font-size: 1.5rem;
}

.input-first-lvl-entrar {
  width: 70%;
  font-family: "Averia Libre", "sans-serif";
  color: #3F92C5;
}

.wrong-credentials-warn-container {
  color: #FD7979;
  height: 19px;
  margin-bottom: 30px;
}

.wrong-credentials-warn {
  display: none;
}

#btn-form-entrar {
  background-color: #37BD6D;
  color: #fff;
  border: none;
  width: 130px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 7px 10px;
  cursor: pointer;
  margin: 5px auto 80px auto;
  transition: .3s;
}

#btn-form-entrar:hover {
  background-color: #FFF;
  color: #37BD6D;
}

#btn-esqueci-senha {
  color: #419ED7;
}

#btn-esqueci-senha:hover {
  text-decoration: underline;
}

/* RECUPERAR SENHA */
.redefinir-container {
  margin-top: 200px;
}

.form-redefinir {
  display: flex;
  align-items: center;
}

.form-row-redefinir {
  display: flex;
  gap: 20px;
  font-family: "Averia Libre", "sans-serif";
}

.form-row-redefinir label {
  color: #FFF;
  font-size: 1.5rem;
}

.input-first-lvl-redefinir {
  min-width: 400px;
  font-family: "Averia Libre", "sans-serif";
  color: #2f87bd;
}

#btn-form-redefinir-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

#btn-form-redefinir {
  background-color: #37BD6D;
  color: #fff;
  border: none;
  width: 160px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 7px 10px;
  cursor: pointer;
  margin: 5px auto 80px auto;
  transition: .3s;
}

#btn-form-redefinir:hover {
  background-color: #FFF;
  color: #37BD6D;
}

/*LOADING SCREEN*/
#authorized-content {
  display: block;
}
#loading-screen {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  background-color: #8FE1D9;
  color:#2f87bd;
  font-size: 1.5rem;
}

#loading-screen img {
  width: 80px;
  height: 80px;
}

/* EXCLUIR USUARIO */
#btn-remove-usuario-container {
  display:flex;
  justify-content: flex-end;
  margin-top: 20px;
}

#btn-remove-usuario {
  flex-direction: row;
  align-items: center;
  background-color: #FD7979; 
  cursor: pointer;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #FFF;
  font-family: "Averia Libre", "sans-serif";
  font-size: 1rem;
  padding: 7px 18px;
  gap: 8px;
  transition: .3s;
  margin-top: 20px;
}

#btn-remove-usuario:hover {
  background-color: #fa5151;
}

#btn-remove-usuario img {
  width: 22px;
  height: 22px;
}

/* POPUP2 */
#remove-usuario-popup-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#remove-usuario-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 25%;
  background-color: #FFF;
  margin: 40vh auto;
  padding: 30px 20px;
  color: #FD7979;
}

#remove-usuario-popup-btns-container {
  display: flex;
  gap: 20px;
}

#btn-remove-usuario-confirm, #btn-remove-usuario-cancel {
  color: #fff;
  border: none;
  width: 130px;
  margin: 40px auto 0 auto;
  padding: 7px 10px;
  font-family: "Averia Libre", "sans-serif";
  font-size: 1.3rem;
  text-transform: uppercase;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  transition: .3s;
}

#btn-remove-usuario-confirm {
  background-color: #FD7979;
}

#btn-remove-usuario-cancel {
  background-color: #3F92C5;
}

#btn-remove-usuario-confirm:hover {
  background-color: #fa5151;
}

#btn-remove-usuario-cancel:hover {
  background-color: #2f87bd;

#btn-voltar {
  background-color: #2f87bd;
  color: #fff;
  border: none;
  width: 180px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 7px 10px;
  cursor: pointer;
  margin: 40px auto 0 auto;
  transition: .3s;
  font-size: 1rem;
  float: ileft;
  margin-bottom: 30px;
}

/*MEDIA*/
@media screen and (max-width: 440px) {
  header {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 1360px) {
  .input-first-lvl {
    width: 50%;
  }
}

@media screen and (max-width: 1295px) {
  #home-card-container {
    justify-content: center;
  }
}

@media screen and (max-width: 1215px) {
  #remove-vacina-popup-content {
    width: 80%;
    height: 350px;
    justify-content: center;
  }
}

@media screen and (max-width: 1115px) {
  .form-row {
    width: 100%;
  }
}

@media screen and (max-width: 930px) {
  .label-first-lvl {
    text-align: left;
  }
  .form-row {
    flex-direction: column;
    gap: 10px;
    align-items: start;
    margin-bottom: 20px;
  }
  .btn-input {
    height: auto;
  }
  .nova-vacina-container {
    display: flex;
    justify-content: center;
  }



  .form-row-entrar {
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    justify-content: center;
  }
}

@media screen and (max-width: 630px) {
  .input-first-lvl {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .input-first-lvl-redefinir {
    width: 100%;
    min-width: 0;
  }
}

@media screen and (max-width: 500px) {
  .btn-input {
    width: 100px;
  }
}